<div id="cookieNotice" class="light display-right ui-widget" style="display: none;">
  <div id="closeIcon" style="display: none;"></div>
    <div class="content-wrap cookie-message ui-widget-header blue">
      <div class="msg-wrap"><p>Questo sito web fa uso di cookies. <a class="cookie-details" href="/privacy/" title="Norme sulla privacy e cookie">Maggiori informazioni</a></p>
        <div class="cookie-dialog"><button class="cookiebar-close" onclick="acceptCookieConsent();">OK</button>
        </div>
      </div>
    </div>
</div>
