<nav class="nav" aria-label="Potasiepe">

	<ul class="" itemscope itemtype=http://www.schema.org/SiteNavigationElement role="menubar" aria-label="Potasiepe">
		{% for link in site.data.navigation.links %}
			{% assign class = "" %}
			{% if link.highlight %}
				{% assign class = class | append: " highlight" %}
			{% endif %}

			{% if link.link == page.url %}
				{% assign class = class | append: " active" %}
			{% endif %}

			{% if link.submenu %}
			<li class="" role="none">
				<details open class="">
					<summary class="HeaderMenu-summary">
						{{ link.name }} +
					</summary>
					<div class="dropdown-content">
						<ul class="dropdown-list" role="menu">
							{% for submenu-link in link.submenu %}
							<li itemprop=name role="none">
								<a class="" itemprop=url role="menuitem" href="{{ submenu-link.link }}">{{submenu-link.name}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</details>
			</li>
			 {% else %}
				<li itemprop=name role="none"><a itemprop=url role="menuitem" href="{{ site.baseurl }}{{ link.link }}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>
