<div class="sidebarShortcuts">
	<a class="phone" href="tel:+393889005888" aria-label="telefono">
		{% include shortcuts-icon.html icon="Phone" %}	<div class="details"><span>(+39) 388 9005888</span></div>
	</a>
	<a class="mail" href="/contatti/" aria-label="contatti">
		{% include shortcuts-icon.html icon="Email" %}	<div class="details"><span>E-Mail</span></div>
	</a>
	<a class="whatsapp" href="https://wa.me/393889005888" aria-label="whatsapp" target="_blank" rel="noopener">
		{% include shortcuts-icon.html icon="WhatsApp" %}
	</a>
</div>
