.contatti {
input, textarea, select {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1rem;
}

input:focus, textarea:focus {
  border-bottom: 3px solid #00e000;
}

input[type=submit] {
  background-color: green;
  border: none;
  color: white;
  padding: 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
}
