// Colors
$theme: Green;
$theme-dark: DarkGreen;
$theme-action: #00e000;
$text-theme: rgba(255, 255, 255, 0.75);
$text-theme-hover: White;
$rosso-potasiepe: #D04539;

// Shadows
$box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shadow-light: 0px 2px 9px rgba(0,0,0,0.18);
$box-shadow-medium: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$box-shadow-large: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// Other
$section-rotation: 5deg;
