---
layout: compress
---
<!DOCTYPE html>
<html lang="it-IT">
{% include head.html %}
<body>
{% include cookieconsent.html %}
{% include header.html %}
<div class="wrapper">
  {% include breadcrumbs.html path=page.path title=page.title %}
  <div class="content">
    {{ content }}
  </div>
</div>
{% include sidebar-shortcuts.html %}
{% include footer.html %}
<script src="{{ site.baseurl }}/js/cookieconsent.min.js"></script>
<script>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/sw.js');
  });
}
</script>
{% if page.comments %}
<script>
(function() {
var d = document, s = d.createElement('script');
s.src = '//potasiepe.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Abilita JavaScript per vedere i commenti <a href="https://disqus.com/?ref_noscript">powered by Disqus.</a></noscript>
{% endif %}
</body>
</html>
