---
layout: compress
---
<!DOCTYPE html>
<html lang="it-IT">
{% include head.html %}
<body>
{% include cookieconsent.html %}
{% include header.html %}
<div class="wrapper">
  {% include breadcrumbs.html path=page.path title=page.title %}
  <main>
    {{ content }}
  </main>
</div>
{% include sidebar-shortcuts.html %}
{% include footer.html %}
<script type="application/javascript" src="{{ site.baseurl }}/js/cookieconsent.min.js"></script>
{% if page.carousel %}
  <script type="application/javascript">
    var myIndex=0;function carousel(){var e,l=document.getElementsByClassName("mySlides");for(e=0;e<l.length;e++)l[e].style.display="none";++myIndex>l.length&&(myIndex=1),l[myIndex-1].style.display="block",setTimeout(carousel,2e3)}carousel()
  </script>
{% endif %}
{% if page.comments %}
  <script>
    window.onscroll = function(ev) {
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
          (function() {
          var d = document, s = d.createElement('script');
          s.src = '//potas.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        }
    };
  </script>
  <noscript>Abilita JavaScript per vedere i commenti <a href="https://disqus.com/?ref_noscript">powered by Disqus.</a></noscript>
{% endif %}
<script>
   if('serviceWorker' in navigator){window.addEventListener('load',function(){navigator.serviceWorker.register('/sw.js')})}
</script>
</body>
</html>
