---
layout: compress
---
<!DOCTYPE html>
<html lang="it-IT">
{% include head.html %}
<body>
{% include header.html %}
<div class="wrapper">
  {% include breadcrumbs.html path=page.path title=page.title %}
  <main>
    {{ content }}
  </main>
</div>
{% include sidebar-shortcuts.html %}
{% include footer.html %}
{% include cookieconsent.html %}
<script src="{{ site.baseurl }}/js/cookieconsent.min.js"></script>
{% if page.carousel %}
<script>{% include carousel.min.js %}</script>
{% endif %}
{% if page.comments %}
<script>{% include comments.js %}</script>
<noscript>Abilita JavaScript per vedere i commenti <a href="https://disqus.com/?ref_noscript">powered by Disqus.</a></noscript>
{% endif %}
<script>
   if('serviceWorker' in navigator){window.addEventListener('load',function(){navigator.serviceWorker.register('/sw.js')})}
</script>
</body>
</html>
