---
layout: default
---
<div class="desc">
	<div class="desc-img">
		<img class="cover" src="{{ page.image }}" alt="{{ page.title }}">
	</div>

	<div class="desc-text">
		{% for category in page.categories %}
		<span class="category">{{ category }}</span>
		{% endfor %}
		<h1>{{ page.title }}</h1>
		<span class="small-red-line"></span>
		{% assign author = site.data.authors[page.author] %}
		<span class="autore">di {{ author.name }}</span>
		<br/>
		<time class="post-date">{{ page.last_modified_at | date: "%d %b %Y" }}</time>
		<p>{{ page.excerpt }}</p>

		<div class="share-bar">
			<a class="share-link" aria-label="resta sempre aggiornato, iscriviti alla mailing list" href="#newsletter" title="mailing list">
				{% include social-share.html icon="Watchlist" %}
			</a>
			<a class="share-link" aria-label="condividi su Twitter" href="https://twitter.com/home?status=sto%20leggendo%20{{ page.url | prepend: site.url | url_encode }}" target="_blank" rel="noopener noreferrer">
				{% include social-share.html icon="Twitter" %}
			</a>
			<a class="share-link" aria-label="condividi su Facebook" href="http://www.facebook.com/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank" rel="noopener noreferrer">
				{% include social-share.html icon="Facebook" %}
			</a>
		</div>
	</div>
</div>

<div class="post">
  <div class="post-content">
		<h2>Indice</h2>
		{% include toc.html html=content sanitize=true class="inline_toc" id="my_toc" h_min=2 h_max=3 %}
		<br/>
    {{ content }}
		<br/>
  </div>

  <div class="pagination">
    {% if page.previous.url %}
      <a class="previous" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}"> &larr; Prev </a>
    {% else %}
      <span class="previous">&larr; Prev</span>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}"> Next &rarr; </a>
    {% else %}
      <span class="next ">Next &rarr;</span>
    {% endif %}
  </div>
	{% if page.comments %}
	  {% include disqus.html %}
	{% endif %}
</div>
